body {
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.toggle {
  visibility: hidden;
}

.label {
  background-color: rgb(150, 150, 150);
  width: 78px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}



.ball {
  background-color: white;
  width: 37px;
  height: 37px;
  border-radius: 50px;
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  transition: transform 0.125s ease;
}

.toggle:checked + .ball {
  transform: translateX(100%);
  background-color: rgb(238, 237, 237);
  }