div {
  display: block;
}
body {
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.toggle {
  visibility: hidden;
}

.label {
  background-color: darkslategrey;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  position: relative;
}

.toggle:checked + .label {
  background-color: #d0d0d0;
  
}

.ball {
  background-color: white;
  width: 37px;
  height: 37px;
  border-radius: 50px;
  position: absolute;
  top: 1.5px;
  left: 1.5px;
}

.toggle:checked + .label .ball {
    animation: slideOn 0.125s linear forwards;
}

@keyframes slideOn {
    0% {
        transform: translateX(0) scale(1);
    }

    50% {
        transform: translateX(20px) scale(1);
    }

    100% {
        transform: translateX(40px) scale(1);
    }
}

@keyframes slideOff {
    0% {
       transform: translateX(40px) scale(1);
    }

    50% {
        transform: translateX(20px) scale(1.1);
    }

    100% {
        transform: translateX(0px) scale(1);
    }